# Global patterns
*.swp
.DS_Store
nimcache/
tests/*
tests/**/nakefile
!tests/*.nim
!tests/tst_*

# Full paths.
/LICENSE.html
/README.html
/changes.html
/docindex.html
/nake
/nake.html
/nakefile
/release_steps.html
