# Global patterns
*.idx
*.swp
.DS_Store
nimcache/
tests/*
tests/**/nakefile
!tests/test_*.nim
!tests/test_dir_*

# Full paths.
/LICENSE.html
/README.html
/changes.html
/nake
/nake.html
/nakefile
/release_steps.html
/theindex.html
