# Global patterns
*.idx
*.swp
.DS_Store
nimcache/

# Test patterns
# (ban everything in tests, espc. nakefiles)
# (then unban test files and test dirs)
tests/*
tests/**/nakefile
!tests/test_*.nim
!tests/test_dir_*

# Full paths.
/LICENSE.html
/README.html
/changes.html
/gh_docs
/nake
/nake.html
/nakefile
/nakelib.html
/release_steps.html
/theindex.html
